


coverbandsetlist{
    background-image: linear-gradient(to bottom, rgb(227, 255, 255), rgb(198, 227, 255));
    height: 260%;
    background-color:  rgb(203, 227, 252);
    margin: 0;
    background-repeat: no-repeat;
    font-size: 100%;
}

coverband, coverbandname, banddescription, setlist, song {
    display: block;
    
    
}
banddescription{
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 1.04em

}

song{
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    padding: 2%;
    margin: 2%;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder
}
songname, origartist,songdescription,genre,yearrelease{
    display: block;
    
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}
coverbandname{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}
